In [2]:
churro = "postgresql://postgres:postgres@146.148.10.52:5432/postgres"

In [3]:
# pip install psycopg2-binary
import pandas as pd
# pip install sqlalchemy
from sqlalchemy import create_engine

In [4]:
engine = create_engine(churro)

In [5]:
query = "select * from tablademier"

In [6]:
pd.read_sql(query, con=engine)

   index  a   b
0      0  1  10
1      1  2  20
2      2  3  30

Practicamos creando una tabla nueva

In [7]:
df_tuprima = pd.DataFrame({"hola":[2,3,4,5,6,7],
                           "que":[2,3,4,5,6,7],
                           "tal":[2,3,4,5,6,7]
    
})

Subimos esta tabla a el google

In [8]:
df_tuprima.to_sql("df_tuprima", con=engine)

ValueError: Table 'df_tuprima' already exists.

Para borrar cosas, bajas el df, eliminas y vuelves a subir

In [ ]:
df_tuprima.to_sql("df_tuprima", con=engine, if_exists="replace", index=None)

Append agregara la tabla o lo nuevo que hayamos creado al df que teniamos subido

In [9]:
instancia = "mysql://:root:mysql@34.79.7.38:3306/mysql "

In [11]:
engine = create_engine(instancia)

ModuleNotFoundError: No module named 'MySQLdb'